.address
  %p
    Street:
    = address.street_address
  %p
    City:
    = address.city
  %p
    State:
    = address.state
  %p
    Latitude / Longitude:
    = address.latitude
    ,
    = address.longitude